<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation de mot de passe</title>
  </head>
  <body>
    <p>Bonjour {{ user.email }},</p>
    <p>Tu as demandé une réinitialisation de ton mot de passe.</p>
    <p>Clique sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
    <p><a href="{{ resetLink }}">{{ resetLink }}</a></p>
    <p>Si tu n'as pas fait cette demande, ignore simplement ce message.</p>
    <br />
    <p>– L’équipe de 16 eme ciel productions</p>
  </body>
</html>